<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
    <script src="/js/pnDiode.js"></script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      input {
        padding: 5px;
        font-size: 1rem;
        width: 80px;
      }
    </style>
  </head>
  <body></body>
</html>
